@model OnlineIndieStore.VMs.ProductCategoryViewModel

@{
    ViewData["Title"] = "Index";
}

    <div class="jumbotron">
        <h1 class="display-4">Shop Indie</h1>
        <p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis </p>
        <hr class="my-4">
        <p>NEW COMMIT doloremque laudantium, totam rem aperiam, eaque ipsa .</p>
        <a class="btn-lg btn-info" asp-controller="Products" asp-action="Create">Submit Product</a>
    </div>
