
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject RoleManager<IdentityRole> RoleManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right d-flex justify-content-around">
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" asp-controller="Manage" asp-action="Index" title="Manage">
                Hello @UserManager.GetUserName(User)
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <h6 class="dropdown-header">Your Account</h6>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" asp-controller="Favourite" asp-action="Index">Favourites</a>
                @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                {
                    <a class="dropdown-item" asp-controller="RoleManager" asp-action="Index">Manage User Access</a>
                }
                <div class="d-flex justify-content-around">
                    <div>
                        <a class="dropdown-item" asp-controller="Cart" asp-action="Index">View Basket</a>
                    </div>
                    <div>
                        <svg class="bi bi-basket" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10.243 1.071a.5.5 0 0 1 .686.172l3 5a.5.5 0 1 1-.858.514l-3-5a.5.5 0 0 1 .172-.686zm-4.486 0a.5.5 0 0 0-.686.172l-3 5a.5.5 0 1 0 .858.514l3-5a.5.5 0 0 0-.172-.686z" />
                            <path fill-rule="evenodd" d="M1 7v1h14V7H1zM.5 6a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h15a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5H.5z" />
                            <path fill-rule="evenodd" d="M14 9H2v5a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V9zM2 8a1 1 0 0 0-1 1v5a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V9a1 1 0 0 0-1-1H2z" />
                            <path fill-rule="evenodd" d="M4 10a.5.5 0 0 1 .5.5v3a.5.5 0 1 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 1 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 1 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 1 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 1 1-1 0v-3a.5.5 0 0 1 .5-.5z" />
                        </svg>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" type="submit" asp-controller="Account" asp-action="Logout">Log Out</a>
            </div>
        </div>
        <ul class="navbar-nav flex-grow-1 navbar-right"> 
            <li class="nav-item">
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log Out</button>
            </li>
        </ul>
    </form>
}

else
{
    <ul class="navbar-nav flex-grow-1 navbar-right d-flex justify-content-around">
        <li class="nav-item">
            <a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    </ul>
}